# Esse arquivo lista as variáveis de ambiente usadas pelo projeto DjangoSIGE.
# Todos os valores fora definidos para serem usados apenas em desenvolvimento
# e deverão ser sobrescritos em produção.

# Geral
# -----
DEBUG=TRUE
SECRET_KEY=9h54%ky9k^3s6rjs)c4zp(gydf02$#40l-66axf2rg%myqar=h
ALLOWED_HOSTS=127.0.0.1, localhost, 0.0.0.0

# Banco de Dados
# --------------
DATABASE_URL=sqlite:///db.sqlite3

# Cache
# -----
CACHE_URL=locmemcache://

# Email
# -----
DEFAULT_FROM_EMAIL=
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
